GameSubject.vcxproj.filters
GameSubject.vcxproj
Debug/GameSubject.tlog/CL.command.1.tlog
Debug/GameSubject.tlog/CL.read.1.tlog
Debug/GameSubject.tlog/CL.write.1.tlog
Debug/GameSubject.tlog/GameSubject.lastbuildstate
Debug/GameSubject.tlog/link.command.1.tlog
Debug/GameSubject.tlog/link.read.1.tlog
Debug/GameSubject.tlog/link.write.1.tlog
Debug/vc141.idb
.vs/GameSubject/v15/Browse.VC.db
.vs/samples/v15/Browse.VC.db
.vs/samples/v15/Browse.VC.opendb
.vs/samples/v15/Solution.VC.db
.vs/samples/v15/Solution.VC.db-shm
.vs/samples/v15/Solution.VC.db-wal
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
01-Skeleton/01-Skeleton.vcxproj
Game/Debug/Game.tlog/CL.command.1.tlog
Game/Debug/Game.tlog/CL.read.1.tlog
Game/Debug/Game.tlog/CL.write.1.tlog
Game/Debug/Game.tlog/Game.lastbuildstate
Game/Debug/Game.tlog/link.command.1.tlog
Game/Debug/Game.tlog/link.read.1.tlog
Game/Debug/Game.tlog/link.write.1.tlog
Game/Debug/vc141.idb
.vs/Game/v15/ipch/AutoPCH/952673c981a6e7bd/MAIN.ipch
.vs/Game/v15/Browse.VC.db
.vs/Game/v15/Browse.VC.opendb
